$primary-background: #e59e17;
$border-color: #325602;
$main-font: 'Korinna',
'regular';
$header-font: 'Kool Beans', 'regular';
// 'Boogie Nights ShadowNF', 'regular';
// 'Monofett',
// cursive;
$table-color: #3a6402;
$button-hover-color: #560208;
$header-color: #6e2c0d;
$box-shadow-color: #391708;
$main-heading-color: #ffffff;
