/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';
@import 'mixins';

body {
  background-image: url('../images/orange.svg');
  background-size: cover;
  font-family: $main-font;
  margin: 0px;
  width: 100%;
}

h1 {
  color: $header-color;
  font-family: $header-font;
  font-size: 4em;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  color: $header-color;
  font-family: 'Fredoka One',
  cursive;
  font-size: 3.5em;
}

.game-board {
  display: flex;
  justify-content: center;
}

.categoryData,
.categoryName {
  background-color: $table-color;
  border: 2px solid black;
  box-shadow: 0 0 5px $border-color;
  color: white;
  font-size: 2em;
  opacity: 0.95;
  padding: 20px;
  text-align: center;
}

.splash-page {
  background-image: url('https://media.giphy.com/media/FNEsFZLyDB2vK/giphy.gif');
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.splash-inputs {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  margin: 23px;
  margin-top: 70px;
  margin-left: 45%;
  padding: 25px;
  width: 20%;
}

input {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  margin-bottom: 30px;
  padding: 5px;
}

label {
  margin-bottom: 20px;
}

button {
  animation: opacityPulse 1s ease-out;
  animation-iteration-count: infinite;
  background-color: $border-color;
  border-color: $border-color;
  border-radius: 20px;
  color: white;
  font-family: $main-font;
  font-size: 1.5em;
  height: 40px;
  width: 200px;
  &:hover {
  border: dotted 3px $button-hover-color;
  } 
}

form {
  display: grid;
}

.submit-names {
    margin-left: 45%;

}

.game-display {
  text-align: center;
  width: 100%;
}

.player-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 96%;
}

.player-display {
  background-color: $header-color;
  box-shadow: 3px 3px 5px 6px $box-shadow-color;
  color: white;
  font-family: 'Fredoka One',
    cursive;
  font-size: 2em;
  margin-top: 20px;
  padding: 50px 50px;
}

.clue-box {
  text-align: -webkit-center;
  width: 100%;
}

.clue {
  align-items: center;
  animation: 2s ease popout;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 3px 5px 6px $box-shadow-color; 
  height: 60vh;
  margin-top: 70px;
  padding: 20px;
  text-align: center;
  width: 50%;
  input {
    margin-bottom: 10px;
  }
}

.clue-text {
  font-size: 1.5em;
}

.answer-text {
  display:none;
}

@keyframes popout {
  from {
    transform: scale(0)
  }

  80% {
    transform: scale(1.2)
  }

  to {
    transform: scale(1)
  }
}

@keyframes opacityPulse {
  0% {
    opacity: 0.85;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.85;
  }
}

@-webkit-keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }

  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBall {
  0% {
    transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@-webkit-keyframes rotateDiscoBallMiddle {
  0% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }

  100% {
    -webkit-transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBallMiddle {
  0% {
    transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }

  100% {
    transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@-webkit-keyframes reflect {
  0% {
    -webkit-filter: brightness(60%);
  }

  50% {
    -webkit-filter: brightness(120%);
  }

  100% {
    -webkit-filter: brightness(90%);
  }
}

@keyframes reflect {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

#discoBall {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  margin-top: 70px;
  -webkit-animation: rotateDiscoBall 18s linear infinite;
  animation: rotateDiscoBall 18s linear infinite;
}

#discoBallLight {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  margin-top: 70px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.2;
  // -webkit-filter: blur(20px);
}

.square {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 6px;
  height: 6px;
  position: absolute;
  transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
}

#discoBallMiddle {
  height: 100%;
  border-radius: 100%;
  background-color: #111;
  position: absolute;
  background: -webkit-linear-gradient(top, #111, #333);
  background: -moz-linear-gradient(top, #111, #333);
  background: linear-gradient(top, #111, #333);
  -webkit-animation: rotateDiscoBallMiddle 18s linear infinite;
  animation: rotateDiscoBallMiddle 18s linear infinite;
}

a {
  position: absolute;
  bottom: 12px;
  right: 20px;
}